@model IEnumerable<ITPM_Project2022_SLIIT.Models.OrderList>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Order Details</h2>
<br>
    
    <form onsubmit="PDFGeneration(event)" asp-action="Export">
        <input type="hidden" id="OrderInput" name="OrderInput"/>
        <button type="submit" class="btn btn-outline-primary">Genetate PDF</button>
    </form>
<br>
<div id="Order" class="table-responsive">
<table class="table tabBor">
    <thead>
        <tr class="tanheight">
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeatNumber)
            </th>
            <th>Confirm</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
                <img src="~/Images/@item.Image" class="rounded-circle" width="50" height="50" asp-append-version="true">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeatNumber)
            </td>
            <td>
                 <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Confirm Order</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
