@model ITPM_Project2022_SLIIT.Models.FlightList

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FlightList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstClassPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstClassPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BsClassPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BsClassPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriEconomyClassPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriEconomyClassPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EconomyClassPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EconomyClassPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
