@model IEnumerable<ITPM_Project2022_SLIIT.Models.FlightList>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="pageName">flight Schedule</h2><br>

<div class="row" style="width:1500px;">
 <div class="col-sm-5 col-md-6">
<p class = "HAddButton"> 
    @using (Html.BeginForm("Export", "HFlightLists", FormMethod.Post))
    {
        <a asp-action="Create" class="btn btn-outline-primary">Add Flight</a>
        <input type="hidden" id="HflightInput" name="HflightInput"/>
        <input type="submit" class="btn btn-outline-primary" id="HflightbtnSubmit" value="Generate PDF"/>
    }
</p>
</div>

<div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0" >
<form asp-action="Index">
<div class="input-group">
<button class="btn btn-outline-info" type="submit" id="button-addon1"> <b>Search Flight Destination</b> </button>
<input type="search" value="@ViewData["GetFlightDetails"]" name="flightSearch" class="form-control " placeholder="Enter Destination Country">
</div>
</form>
</div>
</div>

<div id="Hflight" class = "table-responsive">
<table class="table tabBor">
    <thead>
        <tr class="tanheight">
            <th>
                @Html.DisplayNameFor(model => model.FlightName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstClassPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BsClassPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriEconomyClassPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EconomyClassPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstClassPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BsClassPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriEconomyClassPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EconomyClassPrice)
            </td>
            <td>
                <a type="button" class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id">Update</a> 
                <a type="button" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

  <!--  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function () {
                $("input[name='GridHtml']").val($("#Grid").html());
            });
        });
    </script>-->

</div>

