@model IEnumerable<ITPM_Project2022_SLIIT.Models.EconomyClassFood>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Economic Class Foods</h2>

<div class="container Nbutduv">
   <a asp-action="Create" class="btn btn-outline-primary Nadd">Add Food</a>
   <a asp-action="order" class="btn btn-outline-primary Norder">View Ordred Details</a>
</div>


<div  class = "container table-responsive">
<table class="table tabBor" >
<thead>
        <tr class="tanheight">
            <th>
                @Html.DisplayNameFor(model => model.FoodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoodStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
               
                <img src="~/Images/@item.Image" class="rounded-circle" width="50" height="50" asp-append-version="true" />


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodStatus)
            </td>
            <td style="width:250px;">
                <a asp-action="Edit" asp-route-id="@item.Id"  class="btn btn-primary">Update</a> |
                <a asp-action="Delete" asp-route-id="@item.Id"  class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>

</table>
</div>

