@model IEnumerable<ITPM_Project2022_SLIIT.Models.Notification>

@{
    ViewData["Title"] = "Nview";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Flight Updated Details</h2>

<br>
<div  class = "table-responsive tabwid">
<table id="tabNot" class="tabBor tabcen">
    <thead>
        <tr class="tanheight">
            <th>
                @Html.DisplayNameFor(model => model.FlightName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
             <th>
                Mark Updated
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
              <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id" style="height:35px;">Mark As Read</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
